* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

body {
    height: 100%;
    background-image: linear-gradient(90deg, #FFFFFF, #6284FF, #FF0000);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}


.cadastro {
    font-family: 'Arimo', sans-serif;
    background-color: rgba(255, 255, 255, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 50px;
    color: #fff;
}

h1 {
    display: flex;
    justify-content: center;
}

#msgError {
    text-align: center;
    color: #ff0000;
    padding: 10px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00FF00;
    padding: 10px;
    display: none;
}

.cadastro-float {
    position: relative;
}

.cadastro-float input {
    width: 100%;
    display: inline-block;
    outline: none;
    padding: 15px 24px;
    min-width: 180px;
    font-size: 15px;
    transition: all .5s ease-out;
    border-radius: 46px;
    border: none;
    margin: 7px;
}

.cadastro-float input:focus {
    border-bottom: 1px solid #4038a0;
    background-color: transparent;
    border-radius: 0;
    margin-top: 30px;
    padding: 0;
}

.cadastro-float label {
    color: #4038a0;
    pointer-events: none;
    position: absolute;
    top: 12px;
    left: 20px;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.cadastro-float input:focus+label,
.cadastro-float input:valid+label {
    font-size: 12px;
    color: #0c083f;
    margin-top: 0;
}


.cadastro-btn button {
    width: 50%;
    align-items: center;
    margin-left: 60px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: #00FF00;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
    font-weight: bold;
}

.cadastro-btn button:hover {
    background-color: rgba(255, 255, 255, .4);
    color: #e52e71;
    cursor: pointer;
}


.slider-thumb::before {
    position: absolute;
    content: "";
    left: 32%;
    top: 10%;
    width: 500px;
    height: 500px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

/* media */

@media screen and (max-width:1444px) {
    .slider-thumb::before {
        left: 33%;
        top: 10%;
        width: 470px;
        height: 490px;
    }
}

@media screen and (max-width:1024px) {
    .slider-thumb::before {
        top: 5%;
        left: 26.5%;
    }
}

/* mobile*/

@media screen and (max-width:768px) {
    .slider-thumb::before {
        left: 20%;
    }
}

@media screen and (max-width:425px) {
    body {
        height: 100vh;
        background-image: linear-gradient(#FFFFFF, #6284FF, #FF0000);
        background-repeat: inherit;
        background-size: 110% 110%;
    }

    .slider-thumb::before {
        left: 4%;
        top: 12%;
        width: 380px;
        height: 420px;
    }

    h1 {
        font-size: 24px;
    }

    .cadastro-btn {
        margin-left: 16px;
        width: 240px;
        font-size: 10px;
    }
}

@media screen and (max-width:375px) {
    .slider-thumb::before {
        left: 3%;
        top: 10%;
        width: 360px;
        height: 440px;
    }
}

@media screen and (max-width:320px) {

    .slider-thumb::before {
        left: -10%;
        top: 10%;
        width: 380px;
        height: 430px;
    }
}